[Desktop Entry]
Name=Fritzing
GenericName=Fritzing
Comment=Electronic Design Automation software
Exec=Fritzing
Icon=fritzing_icon
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;X-EDA;X-PCB;
X-SuSE-translate=false
StartupNotify=true
MimeType=application/x-fritzing-fz;application/x-fritzing-fzz;application/x-fritzing-fzp;application/x-fritzing-fzpz;application/x-fritzing-fzb;application/x-fritzing-fzbz;application/x-fritzing-fzm;
