[Desktop Entry]
Name=Fritzing
GenericName=Electronic Design Automation software
GenericName[fi]=Elektroniikan suunnitteluohjelma
GenericName[ru]=Программа проектирования электроники
Comment=Create circuits and lay out printed circuit boards
Comment[fi]=Suunnittele elektronisia kytkentöjä ja piirilevyjä
Exec=Fritzing %F
Icon=fritzing
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;
Keywords=EDA;PCB;prototype;circuit;schematic;
StartupNotify=true
MimeType=application/x-fritzing-fz;application/x-fritzing-fzz;application/x-fritzing-fzp;application/x-fritzing-fzpz;application/x-fritzing-fzb;application/x-fritzing-fzbz;application/x-fritzing-fzm;
